body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
}
#author{
    font-size: 24px;
    font-weight: 400;
}
#welcome{
    height: 100vh;
    min-height: 700px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
#nav-bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#nav-bar ul{
    padding-right: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar ul li{
    padding: 5px 12px;
}
.nav-links{
    color: #ffffff94;
}
#first-image{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
#first-image img{
    width: 100%;
    height: 100%;
}
#welcome-content{
    position: absolute;
    top: 270px;
    left: 60px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
}
#welcome-content-header{
    font-size: 52px;
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
#welcome-content-description{
    font-size: 18px;
    font-weight: 500;
    color: #ffffffc7;
}
#welcome-content-button{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 4px solid white;
    border-radius: 25px;
    width: 350px;
    font-weight: 500;
}
#about{
    padding: 0px 120px;
    padding-bottom: 100px;
    border-bottom: 7px solid #262626;
}
#about-title-container{
    margin: 50px 25px;

    text-align: center;
}
.section-header{
    font-size: 50px;
    margin-bottom: 5px;
}
.section-description{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff7a;
}
#card-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin: 100px 20px;
}
.card h1{
    font-size: 26px;
    font-weight: 800;
}
.card span{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffffd4;
}
#services{
    text-align: center;
    margin-top: 0px;
}
#services-card-holder{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services-card{
    position: relative;
}
#services-card-holder img{
    width: 100%;
    height: 100%;
}
.bottom-left{
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-weight: 700;
}
#feedback-title-container{
    justify-self: center;
    margin: 100px 0px;
    margin-left: 100px;
    width: 500px;
}
#feedback-title-container h1{
    font-size: 50px;
}
#feedbacks{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#feedback-card-holder{
    margin: 50px;
    display: grid;
    row-gap: 20px;
}
.feedback-card{
    position: relative;
    line-height: 1.5;
    width: 400px;
    padding: 30px 40px;
    background-color: #262626;
    display: grid;
    row-gap: 10px;
    border-radius: 20px;
    font-weight: 700;
}
.feedback-card h1{
    margin: 0;
}
.feedback-card span{
    width: 90%;
    font-weight: 600;
    color: #ffffffd4;
}
.feedback-card div{
    font-weight: 800;
    font-size: 18px;
}
.feedback-card img{
    position: absolute;
    border-radius: 50%;
    height: auto;
    width: 200px;
    top: 6%;
    left: 85%;
}
#portfolio{
    text-align: center;
    display: grid;
    justify-items: center;
}
#portfolio-title-container{
    width: 600px;
    text-align: center;
}
#portfolio-image-holder{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
#portfolio-image-holder img{
    width: 100%;
    height: 100%;
}
#contact h1{
    text-align: center;
}
#contact-container{
    margin: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact-container img{
    align-self: center;
    justify-self: center;
    width: 300px;
}
#contact-vis-holder{
    width: 400px;
    padding: 40px;
}
#contact-container form{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
#contact-container form input{
    font-size: 16px;
    letter-spacing: 0.1em;
    background-color: transparent;
    color: #ffffff7a;
    border-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff7a;
}
#contact-container form button{
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #353a40;
}
footer{
    margin-top: 100px;
    margin-right: 20px;
    display: flex;
    padding: 30px 140px;
    justify-content: space-between;
}
#footer-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.footer-description{
    font-weight: 400;
}
#footer-icons{
    display: flex;
}
#footer-icons li{
    margin: 3px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
}

.ico-check-circle{
    background: url("Icons/check.svg");
    height: 22px;
    width: 25px;
    display: inline-block;
}
.ico-tacho{
    background: url("Icons/tachometer.svg");
    height: 22px;
    width: 29px;
    display: inline-block;
}
.ico-heart-beat{
    background: url("Icons/heartbeat.svg");
    height: 22px;
    width: 25px;
    display: inline-block;
}
.ico-heart{
    background: url("Icons/heart.svg");
    height: 22px;
    width: 25px;
    display: inline-block;
}